@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 90px;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #020617;
  color: #ffffff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

::selection {
  background-color: #38bdf8;
  color: #020617;
}